<%= link_to '<< Back', auctions_path %>

<h1>Auctions#show</h1>

<h2><%= @auction.title %></h2><br />
<p><%= @auction.detail %></p>

<%= @auction.user&.full_name %>


<% if current_user != @auction.user %>
  <%= form_for [@auction, @bid] do |f| %>
    <%=f.label :price  %>
    <%=f.text_area :price %>
    <%= f.submit %>
  <% end %>
<% end  %>

<% @auction.bids.each do |bid| %>
<div class="">
  <%= bid.price %>
  <%= bid.user&.full_name %>
</div>
<hr>
<% end  %>
